<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <custompayment>
                <model>Visma\CustomPayment\Model\Payment\SimplePayment</model>
                <title>Simple</title>
                <payment_action>sale</payment_action>
                <order_status>processing</order_status>
                <active>1</active>
                <!--<is_gateway>0</is_gateway>-->
                <allowspecific>0</allowspecific>
                <api>
                    <api_version>0</api_version>
                    <merchant_id>merchntid</merchant_id>
                    <shared_secret>password</shared_secret>
                    <test_mode>0</test_mode>
                    <debug>0</debug>
                </api>
            </custompayment>
        </payment>
    </default>
</config>
