<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="Visma_CustomPayment_create_order" instance="Visma\CustomPayment\Observer\productSaveAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="Visma_CustomPayment_cancel_order" instance="Visma\CustomPayment\Observer\cancelOrder" />
    </event>
</config>